@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

* {
    box-sizing: border-box;
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

/*------------------------------------------------------ header -------------------*/

.header {
    text-align: center;
}

/*------------------------------------------------------ container-performances -------------------*/

.container-performances {
    text-align: center;
}

.badge {
    padding-top: 0.55em;
    padding-right: 0.8em;
    padding-bottom: 0.45em;
    padding-left: 0.8em;
}

/*------------------------------------------------------ container-cards -------------------*/

.container-cards{
        width: 740px; /*-- For 6 cards --*/ 
        /* width: 1080px; for 12 cards */
        margin: 0 auto;
}
.card {
        float: left;
        margin: 10px;
        height: 200px;
        width: 150px;
        background: goldenrod;
        text-align: center;
        border-radius: 5px;
        box-shadow: 10px 10px 10px #ccc;
}

.card:hover {
    cursor: pointer;
    border: 3px solid red;
}

.card p {
    font-size: 48px;
    color: blue;
}