@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Sedgwick+Ave+Display&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* Responsive background image credit: https://www.webfx.com/blog/web-design/responsive-background-image/ */
  /* Set a background color that will be displayed while the background image is loading and Location of the image */
  background: #1f1740
    url("../images/photo-of-multicolored-illustration-min.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* This is what makes the background image rescale based on the container's size */
  background-size: cover;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
  background-attachment: fixed;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: grid;
}

.inline {
  display: inline;
}

.uppercase {
  text-transform: uppercase;
}

/*------------------------------------------------------ start modal -------------------*/

div#startModal.modal.fade.show {
  padding-right: 0;
}

#btnStartModal {
  margin: auto;
  display: block;
  background-color: #daa520;
  border-color: #daa520;
  color: #000000;
  font-weight: bold;
}

#startGameButton {
  background-color: #daa520;
  border-color: #daa520;
  color: #000000;
  font-weight: 700;
}

#btnStartModal:hover,
#startGameButton:hover {
  box-shadow: 0 0 15px #fafafa;
}

.modal-content {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border: solid 2px #daa520;
  color: #daa520;
}

.modal-content h3 {
  font-family: "Sedgwick Ave Display", cursive;
  letter-spacing: 4px;
}

.modal-body {
  background-color: #1f1740;
}

.btn-primary {
  background-color: #0000ff;
  border-color: #0000ff;
}

.btn-primary:hover {
  color: #fafafa;
  background-color: #0000ff;
  border-color: #0000ff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fafafa;
  background-color: #0000ff;
  border-color: #0000ff;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 transparent;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fafafa;
  background-color: #0000ff;
  border-color: #0000ff;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}

#startGameButton.focus,
#btnStartModal.focus,
#btnStartModal:focus {
  box-shadow: 0 0 0 0.2rem #d39e0091;
}

/*------------------------------------------------------ header -------------------*/

.header {
  text-align: center;
  color: #fafafa;
}

.header-details h1 {
  margin: 30px auto 30px auto;
  font-family: "Sedgwick Ave Display", cursive;
  letter-spacing: 4px;
  font-size: 52px;
}

/*------------------------------------------------------ container-information -------------------*/

.container-information {
  text-align: center;
}

.badge {
  padding-top: 0.55em;
  padding-right: 0.8em;
  padding-bottom: 0.55em;
  padding-left: 0.8em;
  margin-right: 30px;
  background-color: #0000ff;
}

.badge.moves,
.badge.levelTimer {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#restart {
  margin-left: 90px;
}

#exit {
  margin-left: 30px;
}

#restart:hover,
#exit:hover {
  box-shadow: 0 0 15px #fafafa;
}

/*------------------------------------------------------ container-cards -------------------*/

.container-cards {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-details {
  width: 900px;
  background: transparent;
  padding: 32px;
  border-color: transparent;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin: 0 auto;
}

.card {
  margin: 10px;
  height: 150px;
  width: 150px;
  background: #1f1740 url("../images/city-art-los-angeles-street-art-min.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card:hover {
  cursor: pointer;
  border: 5px solid #0000ff;
  box-shadow: 0 0 15px #fafafa;
}

.card.visible {
  border: 5px solid #0000ff;
  box-shadow: 0 0 15px #fafafa;
  transform: rotateY(180deg);
  perspective: 1000px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/*------------------------------------------------------ footer -------------------*/

.footer {
  background-color: transparent;
  color: #fafafa;
  margin: auto;
  width: 100%;
  justify-items: center;
  display: grid;
}

.footer p {
  margin-top: 20px;
  margin-bottom: 0;
}

/* .footer,
.push {
  height: 50px;
} */

.footer-details a {
  color: #fafafa;
}

/*------------------------------------------------------ footer -------------------*/

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-details {
    width: 1100px;
  }

  .card {
    width: 200px;
    height: 200px;
    /* line-height: 100px; */
  }

  .header-details h1 {
    font-size: 48px;
  }

  .footer p {
    font-size: 14px;
  }

  .badge {
    margin-right: 40px;
    font-size: 20px;
  }

  #restart {
    margin-left: 100px;
    font-size: 20px;
  }

  #exit {
    margin-left: 40px;
    font-size: 20px;
  }

  #btnStartModal {
    font-size: 20px;
  }

  .modal-body form {
    font-size: 20px;
  }

  #startGameButton {
    font-size: 20px;
  }

  .modal-content h3 {
    font-size: 32px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card-details {
    width: 900px;
  }

  .card {
    width: 180px;
    height: 180px;
    /* line-height: 40px; */
  }

  .header-details h1 {
    font-size: 48px;
  }

  .footer p {
    font-size: 14px;
  }

  .badge {
    margin-right: 36px;
    font-size: 18px;
  }

  #restart {
    margin-left: 80px;
    font-size: 18px;
  }

  #exit {
    margin-left: 30px;
    font-size: 18px;
  }

  #btnStartModal {
    font-size: 18px;
  }

  .modal-body form {
    font-size: 18px;
  }

  #startGameButton {
    font-size: 18px;
  }

  .modal-content h3 {
    font-size: 30px;
  }
}

/* md - Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-details {
    width: 800px;
  }

  .card {
    width: 150px;
    height: 150px;
    /* line-height: 150px; */
  }

  .header-details h1 {
    font-size: 42px;
  }

  .footer p {
    font-size: 14px;
  }

  .badge {
    margin-right: 32px;
    font-size: 16px;
  }

  #restart {
    margin-left: 60px;
    font-size: 16px;
  }

  #exit {
    margin-left: 20px;
    font-size: 16px;
  }

  #btnStartModal {
    font-size: 16px;
  }

  .modal-body form {
    font-size: 16px;
  }

  #startGameButton {
    font-size: 16px;
  }

  .modal-content h3 {
    font-size: 28px;
  }
}

/* sm - Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .card-details {
    width: 500px;
  }

  .card {
    width: 100px;
    height: 100px;
    /* line-height: 75px; */
  }

  .header-details h1 {
    font-size: 36px;
  }

  .footer p {
    font-size: 12px;
  }

  .badge {
    margin-right: 15px;
    font-size: 12px;
  }

  #restart {
    margin-left: 20px;
    font-size: 12px;
  }

  #exit {
    margin-left: 15px;
    font-size: 12px;
  }

  #btnStartModal {
    font-size: 12px;
  }

  .modal-body form {
    font-size: 12px;
  }

  #startGameButton {
    font-size: 12px;
  }

  .modal-content h3 {
    font-size: 22px;
  }
}

/* xs - Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .card-details {
    width: 400px;
  }

  .card {
    width: 75px;
    height: 75px;
    /* line-height: 50px; */
  }

  .header-details h1 {
    font-size: 28px;
  }

  .footer p {
    font-size: 12px;
  }

  .badge {
    margin-right: 10px;
    font-size: 12px;
  }

  #restart {
    margin-left: 20px;
    font-size: 12px;
  }

  #exit {
    margin-left: 10px;
    font-size: 12px;
  }

  #btnStartModal {
    font-size: 12px;
  }

  .modal-body form {
    font-size: 12px;
  }

  #startGameButton {
    font-size: 12px;
  }

  .modal-content h3 {
    font-size: 20px;
  }
}
